<div>
  <div id="wrap" >
    <div id = "container-1" style = "width:90%; height:50%; padding-left: 5%; padding-right: 5%;">
                <div id ="left-c1" style = "float:left; width: 20%; ">
                  <ngx-gauge 
                  [min]="100"
                  [max]="1000"
                  [type]="gaugeType" 
                  [value]="gaugeValue"
                  [label]="gaugeLabel"  
                  [append]="gaugeAppendText"
                  [prepend]="gaugePrependText"
                  [thick]="30">
                  </ngx-gauge>
                </div>  
                <div id = "middle-c1" style = "float:left; width: 30%;">
                  <google-chart #doughnutchart
                [title]="doughnutChartProperties.title"
                [type]="doughnutChartProperties.type"
                [data]="doughnutChartProperties.data"
                [options]="doughnutChartProperties.options"
                [width]="doughnutChartProperties.width"
                [height]="doughnutChartProperties.height"
                (select)="onClick($event)">
                  </google-chart>
                </div>
                <div id = "right-c1" style = "float:left; width: 50%;">
                  <google-chart #linechart
                  [title]="lineChartProperties.title"
                  [type]="lineChartProperties.type"
                  [data]="lineChartProperties.data"
                  [options]="lineChartProperties.options"
                  [width]="lineChartProperties.width"
                  [height]="lineChartProperties.height">
                  </google-chart>
                </div>
    <div id = "container-2" style = "width:100%; height:50%;">
                  <div id = "left-c2" style = "float:left; width: 40%;">
                    <google-chart #treemap
                    [title]="treeMapProperties.title"
                    [type]="treeMapProperties.type"
                    [data]="treeMapProperties.data"
                    [options]="treeMapProperties.options"
                    [width]="treeMapProperties.width"
                    [height]="treeMapProperties.height">
                    </google-chart>
                  </div>
                  <div id = "right-c2" style = "float:left; height:50%; width: 60%;">
                    <div >
                      <ejs-maps 
                      style="height:300px; width:400px"
                      id='rn-container'>
                        <e-layers>
                          <e-layer  
                          [shapeData]= 'shapeData' 
                          [shapePropertyPath] ='shapePropertyPath'
                          [bubbleSettings] = 'bubbleSettings'
                          [shapeDataPath] = 'shapeDataPath'
                          ></e-layer>
                        </e-layers>
                      </ejs-maps>
                    </div>
                    <div >
                      <ngx-datatable 
                      [ngStyle]="{'height':'200px'}"
                      class="material"
                      [rows]="rows" 
                      [columnMode]="'force'" 
                      [headerHeight]="50" 
                      [footerHeight]="0"
                      [rowHeight]="40" 
                      [scrollbarV]="true" 
                      [scrollbarH]="false" 
                      [virtualization]="true"
                      [sorts]="[{prop: 'name', dir: 'desc'}]">
                        <ngx-datatable-column name="Country">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.country}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="January">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.January}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="February">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.February}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="March">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.March}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="April">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.April}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="May">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.May}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="June">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.June}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="July">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.July}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="August">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.August}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="October">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.October}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="November">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.November}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="December">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.December}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Total">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.total}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
    </div>
  </div>
  </div>
  <div class="navbar" >
    <a href="#home" class="active">Categories</a>
    <a href="#news">Brands</a>
    <a href="#contact">Countries</a>
    <a href="#contact">Television</a>
    <a href="#contact">Help</a>
  </div>
</div>


