<div class="bg-gray-200">
  <div class="flex flex-wrap justify-center items-center">
    <div class="mt-2">
      <div class="text-yellow-500 font-semibold text-center text-2xl">
          ABC
          <span class="text-black text-base">Spend Overview 2019</span>
      </div>
      <!---Guage-->
      <div class="bg-white my-2 px-12 shadow-md">
        <ngx-gauge
          [min]="gaugeMin"
          [max]="gaugeMax"
          [type]="gaugeType"
          [value]="gaugeValue"
          [label]="gaugeLabel"
          [append]="gaugeAppendText"
          [prepend]="gaugePrependText"
          [thick]="30"
        >
        </ngx-gauge>
      </div>
    </div>

    <!---Chart-->
    <div class="bg-white mx-4  max-w-screen-sm shadow-md">
      <google-chart
        #doughnutchart
        [title]="doughnutChartProperties.title"
        [type]="doughnutChartProperties.type"
        [data]="doughnutChartProperties.data"
        [options]="doughnutChartProperties.options"
        (select)="onClick($event)"
      >
      </google-chart>
    </div>

    <!--Line Chart-->
    <div class="flex my-2 sm:my-0 flex-wrap min-w-max shadow-md">
        <google-chart
          #linechart
          [title]="lineChartProperties.title"
          [type]="lineChartProperties.type"
          [data]="lineChartProperties.data"
          [options]="lineChartProperties.options"
        >
        </google-chart>
      </div>

      <!---Tree Map-->
    <div class="p-1 my-4">
      <google-chart
        #treemap
        [title]="treeMapProperties.title"
        [type]="treeMapProperties.type"
        [data]="treeMapProperties.data"
        [options]="treeMapProperties.options"
        [width]="treeMapProperties.width"
        [height]="treeMapProperties.height"
      >
      </google-chart>
    </div>

    <!--world map-->
    <div class="my-2 ">
      <div class="bg-gray-200">
        <ejs-maps id="rn-container" style="height: 254px; width: 660px">
          <e-layers>
            <e-layer
              [shapeData]="shapeData"
              [shapePropertyPath]="shapePropertyPath"
              [bubbleSettings]="bubbleSettings"
              [shapeDataPath]="shapeDataPath"
            ></e-layer>
          </e-layers>
        </ejs-maps>
      </div>
            <!--DATA TABLE -->
      <div class="my-2">
        <ngx-datatable
          [ngStyle]="{ height: '220px' }"
          class="material"
          [rows]="rows"
          [columnMode]=""
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="40"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [virtualization]="true"
          [sorts]="[{ prop: 'name', dir: 'desc' }]"
        >
          <ngx-datatable-column name="Country">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.country }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="January">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.January }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="February">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.February }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="March">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.March }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="April">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.April }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="May">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.May }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="June">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.June }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="July">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.July }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="August">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.August }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="October">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.October }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="November">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.November }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="December">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.December }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Total">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.total }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <div></div>
      </div>
    </div>
  </div>
  <div
    class="h-10 font-sans font-medium flex items-center fixed z-30 bottom-0 left-0 w-screen bg-gray-200 border border-white"
  >
    <a href="#home" class="text-sm text-gray-700 px-5 border-r-2 border-gray-600">Categories</a>
    <a href="#news" class="text-sm text-gray-700 px-5 border-r-2 border-gray-600" >Brands</a>
    <a href="#contact" class="text-sm text-gray-700 px-5 border-r-2 border-gray-600" >Countries</a>
    <a href="#contact" class="text-sm text-gray-700 px-5 border-r-2 border-gray-600">Television</a>
    <a href="#contact" class="text-sm text-gray-700 px-5 border-r-2 border-gray-600">Help</a>
  </div>
</div>
